<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <h1 class="presentation-subtitle text-center">URBAN ASSESSMENT</h1>
                <div class="title-brand">
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <h2 style="padding-bottom: 20px;" class="presentation-subtitle text-center">Which place looks safer?</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="./assets/img/soroush-karimi.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                            <div class="img-details">
                                <div class="author">
                                    <img src="assets/img/1.PNG" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <img src="./assets/img/federico-beccari.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                            <div class="img-details">
                                <div class="author">
                                    <img src="assets/img/2.PNG" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <button   type="button" class="btn btn-danger btn-round btn-block">GAMBAR 1</button>
                        </div>
                        <div class="col-sm-2">
                            <button   type="button" class="btn btn-danger btn-round btn-block">=</button>
                        </div>
                        <div class="col-sm-5">
                            <button   type="button" class="btn btn-danger btn-round btn-block">GAMBAR 2</button>
                        </div>
                    </div>
                    
                    
                </div>
                <div style="padding-top: 40px;padding-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-10">
                        <ngb-progressbar type="danger" [value]="50" [striped]="true" [animated]="true">17 of 34</ngb-progressbar>
                        </div>
                        <div class="col-sm-2">
                        <button   type="button" class="btn btn-danger btn-round btn-block">Finish</button>
                        </div>
                    </div>
                </div>
                

                
            </div>
            
        </div>
        
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        
    </div>
    <div class="main">
          <div class="container">
            
                      <div class="tim-title">
                          <h3>Navigation Tabs</h3>
                      </div>

                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ngb-tabset [justify]="'center'">
                                  <ngb-tab title="Criteria of Respondent">
                                      <ng-template ngbTabContent>
                                          <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="About">
                                      <ng-template ngbTabContent>
                                          <p>Here is your profile.</p>
                                      </ng-template>
                                  </ngb-tab>
                              </ngb-tabset>
                          </div>
                      </div>

                 
          </div>
    \

     
       
        
       
        
    </div>
</div>
